body
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-position: fixed;
}
::-webkit-scrollbar 
{
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
header
{
    height: 8%;
    width: 100%;
}
.navbar
{
    background-color: #0d2f4a;
    overflow: hidden;
}
.navbar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.navbar a.floatright
{
    float: right;
}
.navbar a.active
{
    background-color: ghostwhite;
    border: 2px solid #0d2f4a;
    border-radius:5px ;
    color: #0d2f4a;
}
.navbar a:hover
{
    opacity: 0.4;
}
.navbar .icon
{
    display: none;
}
.navbar div a
{
    border-right: 0.5px solid ghostwhite;
    margin: 0 0 0 5px;
}
@media screen and (max-width: 600px)
{
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon 
    {
        float: right;
        margin-right: 2px;
        right: 0;
        display: block;
    }
}
@media screen and (max-width: 600px)
{
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon 
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a
    {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive a.floatright
    {
        float: none;
        display: block;
        text-align: left;
    }
}
sidebar
{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 0;
    top: 6%;
    left: 0;
    background-color: #0d2f4a;
    border-right: 0.1px solid #0d2f4a;
    border-radius: 5px;
    overflow-x: hidden ;
}
sidebar h1
{
    display: block;
    text-decoration: none;
    padding: 6px 6px 6px 16px;
    font-size: 30px;
    margin-left: 4px;
    margin-right: 4px;
    color: ghostwhite;
    margin: 2px 0 20px  0;
    border-bottom:0.5px solid ghostwhite;
}
sidebar a
{
    top:0;
    padding: 6px 6px 6px 16px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: all 0.1s ease;
}
sidebar a.active
{
    background-color: ghostwhite; 
    border: 2px solid ghostwhite;
    border-radius:5px ;
    color: #0d2f4a;  
}
sidebar a:hover
{
    top: -2;
    opacity: 0.4;
}
.searchbar
{
    width: 50%;
    margin: auto;
}
.searchbar input[type=text]
{   
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0d2f4a;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
.searchbar button
{
    float: left;
    width: 20%;
    padding: 10px;
    background-color: #0d2f4a;
    color: white;
    font-size: 16px;
    border: 1px solid #0d2f4a;
    cursor: pointer;
    border-left: none;
}
.searchbar button:hover
{
    opacity: 0.6;
}
.searchbar ::after
{
    content: "";
    clear: both;
    display: table;
}
.container
{
    margin-top: 10px;
    margin-left: 190px;
}
.grid-container
{
    width: 90%;
    margin-top: 20px;
    margin: 0 10px 0 10px;
    padding-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(7, 225px);
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
.flex-container
{
    width: 90%;
    margin-top: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto auto;
    grid-gap: 50px;
}
.profile
{
    top: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .1s ease-in;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1);
    max-width: 600px;
    height: auto;
    min-height: 100%;
    text-align: left;
    font-family: Arial;
    border-radius: 5%;
    color: #0d2f4a;
}
.profile img
{
    width: 60%;
    border-radius: 50%;
    
    margin-left: auto;
    margin-right: auto;
    padding:10px 0 10px 0;
}
.profile .card-body
{
    padding:0 8px 0 8px ;
}
.card-body h2
{
    border-bottom: 0.1px solid #0d2f4a;
    padding-bottom: 10px;
}
.card-body label
{
    font-weight: bold;
    font-size: 20px;
}
.card
{
    top:10%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    transition: all .1s ease-in;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1);
    max-width: 300px;
    min-height: 100%;
    height: auto;
    text-align: center;
    font-family: Arial;
    border: 0.1px solid #0d2f4a;
    color: #0d2f4a;
    border-radius: 5px;


}
.card img
{
    height: 120px;
}
.card:hover
{
    top: 8%;
    opacity: 0.8;
}
.card h1
{
    font-size: 20px;
    margin: 0;
    color: #0d2f4a;
}
.card h6
{
    font-size: 16px;
    margin: 0;
    color: #0d2f4a;
}
.salestable
{
    border: 1px solid #0d2f4a;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
.salestable th, .salestable td
{
    border: 1px solid ghostwhite;
    text-align: left;
    padding: 8px;
}
.salestable .tablehead1
{
    color: #102a4c;
    padding: 12px 0 12px 0;
    text-align: left;
    background-color: ghostwhite;
}
.salestable .tablehead1 button
{
    
}
.salestable .firstrow
{
    background-color: #0d2f4a;
    text-align: left;
    color: white;
}
.salestable tr:nth-child(even)
{
    background-color: white;
    color: #D6E9FF;
}
.salestable tr
{
    background-color: #d6e9ff;
    color: white;
    padding: 8px 8px;
}
section
{
    width: 80%;
    height: auto;
    margin: auto;
    padding-bottom: 20%;
    border-radius: 1% ;
    background-color: #0d2f4a;
}
.limiter
{
    width: 100%;
    margin: 0 auto;
}
.container-sign
{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: ghostwhite;
}
.sign
{
    width: 900px;
    background: #0d2f4a;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-pic
{
    width: 490px;
    margin-right: 10px ;
}
.form-pic img
{
    max-width: 100%;
}
.form-data
{
    width: 380px;
    margin: 20px 10px 20px 0 ;
    justify-content: center;
    align-items: center;
}
.sign-title
{
    font-family: 'Times New Roman';
    font-weight: bolder;
    font-size: 32px;
    color: ghostwhite;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px ;
}
.form-input
{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}
.form-input input
{
    font-family: Times;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    color: #0d2f4a;
    
    display: block;
    width: 100%;
    background: ghostwhite;
    height: 50px;
    border-radius: 25px;
    padding: 20px 0 20px -10px;  
}
.form-btn
{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.form-btn .sign-btn
{
    font-family: 'Courier New';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #0d2f4a;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #fe9000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 25px ;
}
.form-btn .sign-btn:hover
{
    background-color: black;
    color: white;
    opacity: 0.6;
}
.text-center
{

    width: 100%;
    justify-content: center;
    align-items: center;
}
.txt1
{
    font-family: 'Times New Roman';
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: ghostwhite;
    margin: 20px 20px 20px 20px ;
}
.txt2
{
    font-family: 'Times New Roman';
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}